<aside class="card-details">
  <section class="card-details__modal">
    <div class="card-details__body">
      <div class="card-details__details">
        <h2 class="card-details__details__title">
          <app-editable-header
            [text]="(card$ | async)?.title"
            (onChangeText)="onCardTitleChange$.next($event)"
          ></app-editable-header>
        </h2>
        in list <strong>{{ (listForCurrentCard$ | async)?.title}}</strong>
      </div>

      <aside class="card-details__actions">
        <div class="card-details__move">
          <strong>Move to: </strong>
          <ul>
            <li *ngFor="let list of otherListsForCurrentCard$ | async">
               <a (click)="moveCardClick$.next(list.id)">{{ list.title }}</a>
            </li>
          </ul>
        </div>

        <button
          class="button"
          (click)="removeCardClick$.next()"
        >
          <i class="fa fa-trash"></i>
          Remove card
        </button>
      </aside>
    </div>

    <span
      routerLink="/"
      class="card-details__modal__close"
    >
      <i class="fa fa-close"></i>
    </span>
  </section>

  <div
    routerLink="/"
    class="card-details__backdrop"
  ></div>
</aside>
